body {
  background-color: #DAE0E6;
}

img {
  width: 95px;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.App {
  background-color: #fdfdfd;
  padding-bottom: 20px;
}

.App {
  color: #61dafb;
}

#header-search-bar {
  background-color: var(--newRedditTheme-field);
  border: 1px solid var(--newRedditTheme-line);
  box-shadow: none;
  display: block;
  height: 30px;
  margin-left: 200px;
  width: 50%;
}

.nav {
  float: right;
  margin-top: -10px;
}

.one {
  margin-right: 20px;
}

.two {
  margin-right: 20px;
}

.three {
  margin-right: 20px;
}

h1 {
  text-align: center;
}